{% extends "page-setup.html" %}

{% block title %} SMACK ME {% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-16">
            <h1> This is when you feel. </h1>
        </div>

        <div class="col-md-16">
            <h2> {{ smack }} </h2>
        </div>

        <div class="col-md-16">
            <h> This section has a thousand reasons why I love you. </h>
        </div>

        <div class="col-md-16">
            <img src="https://as1.ftcdn.net/v2/jpg/02/83/21/58/1000_F_283215885_LDHvUNTG2B3owI14pionaZwomueDx2e9.jpg" alt="An image of a real beating human heart." height="80%" width="95%">
        </div>
    </div>
{% endblock %}