{% extends "page-setup.html" %}

{% block title %} SMACK ME {% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-16">
            <h1> Just in case you forgot. </h1>
        </div>

        <div class="col-md-16">
            <h2> I love you with me whole entire heart. </h2>
        </div>

        <div class="col-md-16">
            <img src="https://media.tenor.com/rCVdoFR4UGEAAAAM/heart-sticker.gif" alt="An image of a real beating human heart." height="80%" width="95%">
        </div>
    </div>
{% endblock %}